.product-item {
    border: 1px solid black;
    max-width: 360px;
    padding: 44px 32px;
    background-color: whitesmoke;
}

.top {
    background-color: beige;
    min-height: 75px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.btn-cart {
    min-width: 85px;
    min-height: 30px;
    border-radius: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item-img {
    max-width: 200px;
}

.cart-item-img {
    max-width: 100px;
}

.cart-block {
    border: 1px solid black;
}